@charset "utf-8";


.article-box{
    margin-top:100px;
}

.section-description{
    margin-bottom:80px;
    font-size: 1.3rem;
    text-align: center;
    color:#666;
    font-weight: bold;
    line-height:1.5;
}

.address-list {
    justify-content: space-around;
}

.address-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.address-list li .ico {
    margin-bottom: 10px;
}

.address-list li strong {
    font-size: 1.1rem;
    font-weight: bold;
}

.address-list li span:not(.ico){
    display: block;
    margin-top: 5px;
}

@media(max-width: 450px) {
    .address-list {
        display: block;
    }

    .address-list li:not(:last-child) {
        margin-bottom: 20px;
    }
}

.contact-form {
    margin-top: 60px;
}

.contact-form fieldset > div {
    display: flex;
    justify-content: space-between;
}

.contact-form fieldset > div:not(:last-child){
    margin-bottom: 20px;
}

.contact-form fieldset > div label {
    flex: 1;
    display: block;
}

.contact-form fieldset > div label:not(:first-child) {
    padding-left: 20px;
}

.contact-form fieldset > div label input,
.contact-form textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
}

.contact-form fieldset > div label input {
    padding: 0 10px;
    line-height: 36px;
}

.contact-form fieldset > div label textarea {
    height: 200px;
    padding: 10px;
    line-height: 1.4;
}

.contact-form fieldset > div label input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 2px solid #F90;
}

.contact-form fieldset > div label input:focus {
    margin: -1px 0;
}

.contact-form fieldset > div label input::placeholder,
.contact-form textarea::placeholder {
    color: #CCC;
}

.contact-form fieldset div.tac {
    display: block;
    margin-top: 30px;
}


@media(max-width: 450px){
    .contact-form fieldset > div {
        display: block;
    }

    .contact-form fieldset > div label:not(:first-child) {
        padding-left: 0px;
        margin-top: 20px;
    }
}

.tac{
    text-align:center;
}

.btn.orange{
    color:#FFF;
    background-color:rgb(255, 125, 0);
}
.btn.round{
    border-radius:5px;
}

.btn.lg {
    font-size: 1.6rem;
    line-height: 3rem;
    padding: 0 15px;
}

.txt-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}