@charset "utf-8";

@import url("init.css");


.flexbox{
    display:flex;
}

.title-box{
    height:100vh;
}

.title-box .slogan-box{
    width:100%;
    height:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url("../../images/bg_title.jpg");
}

.title-box .slogan-box strong{
    display:block;
    font-size:2vw;
    font-weight:bold;
    color:#FFF;
    margin-bottom: 30px;
    text-shadow:#000 0 0 5px;
}

.title-box .slogan-box h2 {
    font-size: 4vw;
    font-weight: bold;
    color: #FFF;
    text-shadow: #000 0 0 5px;
}

.title-box .slogan-box p{
    margin:40px;
    font-size: 2vw;
    font-weight:bold;
    color:#FFF;
    text-shadow:#000 0 0 5px;
    margin-bottom: 40px;
    margin-left:150px;
}

.title-box .slogan-box .hide{
    margin-top: 40px;
    font-size: 2vw;
    font-weight:bold;
    color:#FFF;
    text-shadow:#000 0 0 5px;
    margin-left:270px;
    margin-right:200px;
}

.title-box .slogan-box .scale{
    margin-top: 40px;
    font-size: 2vw;
    font-weight:bold;
    color:#FFF;
    text-shadow:#000 0 0 5px;
}

.title-box .slogan-box .look{
    margin-top: 40px;
    font-size: 2vw;
    font-weight:bold;
    color:#FFF;
    text-shadow:#000 0 0 5px;
}
