@charset "utf-8";

.gnb ul {
    display:flex;
    align-items:center;
}

.gnb ul :not(:last-child){
    padding-right:10px;
}

.gnb ul :not(:last-child):after{
    content:"|";
    display:inline-block;
    margin-left:10px;
    font-size:0.5rem;
    color:#AAA;
}
