@charset "utf-8";


.inner-box{
    width:1440px;
    margin:0 auto;
    overflow: hidden;
}

.App{
    .button-box{
        margin-top: 50px;
        text-align: center;
    }
}

.App{
    button{
        width:100px;
        font-size:1.7rem;
        text-align:center;
    }
}

.App{
    .page{
        h1{
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 20px;
            color: rgb(255, 123, 0);
            font-weight: bold;
            margin-top:200px;
            padding-bottom:50px;
        }   
    }
}

.cards-slider-wrapper{
    display:flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    .card{
        flex:1;
        min-width: 230px;
        opacity: 0.5;
        transform: scale(0.7);
        transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.04, 0.515, 0.955);
        .details{
            opacity:0;
            transition: opacity 150ms linear;
        }
    }
}

$i: 0;
@for $i from 0 through 29{
    .cards-slider.active-slide-#{$i} #card-#{$i}{
        opacity:1;
        transform:scale(1);
        background-color: #f3f3f3;
        border-color:#f3f3f3;
        .details{
            opacity:1;
        }
    }
}

.cards-slider{
    position: relative;
    max-width:226px;
    margin:0 auto;

    &:after{
        content:'';
        display:block;
        width:100%;
        height:264px;
        outline: 5px solid #61DAFB;
        position:absolute;
        top:0;
        left:0;
    }
}

.col{
    height:264px;
    position:relative;
    &:before
    &:after{
        content:'';
        display:block;
        width:50%;
        height:120%;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0.5) 100%);
        position: absolute;
        top:0;
        left:0;
        z-index:2;
    }
    &:after{
        left: auto;
        right:0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0.5) 100%);
    }
}