@charset "utf-8";

@import url("font.css");
@import url("init.css");

.inner-box{
    max-width: 1140px;
    margin: 0 auto;
}

@media(max-width: 1140px){
    .inner-box{
        padding:0 30px;
    }
}

.flexbox{
    display:flex;
}

.fixed-full{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
}

header.fixed-full{
    z-index: 100;
}

.header-box{
    justify-content: space-between;
    align-items:center;
    padding:20px 0;
}

.header-box h1 span{
    color:rgb(255, 255, 255);
}

.header-box nav a{
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 300;
}