@charset "utf-8";

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-list li {
    flex-basis: 300px;
    border: 1px solid #AAA;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.service-list li:nth-child(n + 4) {
    margin-top: 100px;
}

.service-list li span {
    margin-bottom: 20px;    
}

.service-list li h3 {
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
}

.service-list li hr {
    width: 40px;
    height: 2px;
    border: none;
    margin: 15px auto;
    background: rgb(255, 145, 0);
    transition: all 0.3s ease-in;
}

.service-list li:hover hr {
    width: 60px;
}

.service-list li p {
    line-height: 1.4;
    text-align: center;
    color: #666;
}

@media(max-width: 1140px) {
    .service-list li {
        flex-basis: 350px;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .service-list li:nth-child(odd) {
        margin-right: 20px;
    }

    .service-list li:nth-child(n + 3) {
        margin-top: 20px;
    }
}

@media(max-width: 800px) {
    .service-list {
        display: block;
    }

    .service-list li:nth-child(odd) {
        margin-right: 0;
    }

    .service-list li:not(:last-child) {
        margin-bottom: 20px;
    }

    .service-list li:nth-child(n + 3) {
        margin-top: 0;
    }
}

.ico {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ico.html {
    background-image:url('../../images/icon/ico_html.svg');
    width:100px;
    height:100px;
}

.ico.javascript {
    background-image:url('../../images/icon/ico_javascript.svg');
    width:100px;
    height:100px;
}

.ico.angular {
    background-image:url('../../images/icon/ico_angular.svg');
    width:100px;
    height:100px;
}

.ico.java {
    background-image:url('../../images/icon/ico_java.svg');
    width:100px;
    height:100px;
}

.ico.python {
    background-image:url('../../images/icon/ico_py.svg');
    width:100px;
    height:100px;
}

.ico.database {
    background-image:url('../../images/icon/ico_database.svg');
    width:100px;
    height:100px;
}