@charset "utf-8";

@import url("init.css");

.inner-box{
    max-width: 1140px;
    margin: 0 auto;
}

.flexbox{
    display:flex;
}

.section-title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 123, 0);
    font-weight: bold;
}

.sub-title{
    font-size:1.5rem;
    font-weight:bold;
    text-align: center;
    margin-bottom: 20px;
}

.introduce-box > div {
    align-items: flex-start;
}

.introduce-box {
    padding:150px 0;
}

.introduce-box > div .my-picture-box{
    padding:5px;
    border:1px solid #AAA;
    border-radius: 5px;
}

.introduce-box > div .my-picture-box .picture{
    width:400px;
    height:450px;
    border-radius:5px;
    background-image: url("../../images/1575450190259.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.introduce-box > div .my-introduce {
    position: relative;
    flex: 1;
    padding-left: 20px;
}

.introduce-box > div .my-introduce p {
    line-height: 1.8;
    font-size:1.1rem;
}


@media(max-width: 950px) {
    .introduce-box .inner-box {
        display: block;
    }

    .introduce-box > div .my-picture-box .picture {
        width: 100%;
    }

    .introduce-box > div .my-introduce {
        margin-top: 30px;
    }
}

.introduce-box .btn{
    margin:100px 0;
    justify-content: center;
    font-size:3rem;
    font-weight: bold;
    color:rgb(5, 134, 255);
}